ul {
    max-height: 350px;
    overflow: auto;
}

#messageInput {
    padding-bottom: 25px;
}

#cards > li {
    font-size: 0px;
    display: inline-block;
}

li > img {
    width: 100px;
    height: 155px;
}

body {
    padding: 25px;
}

/*
    Used for notifying player of their turn.
    Multiple classes for cross-browser compatibility.
*/
/* Default */
@keyframes blink {
    50% {
        background: rgba(48, 230, 48, 0.534);
        background-size: 75px 150px;
    }
}

/* Safari */
@-webkit-keyframes blink {
    50% {
        background: rgba(48, 230, 48, 0.534);
        background-size: 75px 150px;
    }
}

/* Firefox */
@-moz-keyframes blink {
    50% {
        background: rgba(48, 230, 48, 0.534);
        background-size: 75px 150px;
    }
}

.notify {
    animation: blink 1s;
    -webkit-animation: blink 1s;
    -moz-animation: blink 1s;
}